.generate-Report-container {
  padding: 70px;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
}

.generate-Report__form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.generate-Report__report {
  border: 1px solid #310a317e;
  border-radius: 5px;
  padding: 20px;
}

.generate-Report__form__title {
  text-align: center;
  font-weight: normal;
}

.report__text {
  display: block;
  font-weight: 300;
  text-align: justify;
  line-height: 22px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}
