.generate-Report-container {
  padding: 70px;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
}

.generate-Report__form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.generate-Report__form__title {
  text-align: center;
  font-weight: normal;
}
