.generate-Report__form__option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.generate-Report__form__option__buttonGroup {
  display: flex;
  gap: 10px;
  font-weight: bold !important;
}

.buttonGroup__button {
  font-weight: lighter !important;
  box-shadow: none !important;
  width: 120px;
}

.buttonGroup__button:focus {
  text-decoration: underline;
}
